* {
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: 'Dancing Script', cursive;
    margin: 1px;
  }
  
  /* Header/logo Title */
  .header {
    padding: 40px;
    text-align: center;
    background: #1abc9c;
    color: rgb(21, 1, 30);
    background-image: url(./banner.jpg);
    font-family: "Sofia", sans-serif;
    /* opacity: 0.1; */
  }
  
  /* Increase the font size of the heading */
  .header h1 {
    font-size: 50px;
  }
  
  /* Style the top navigation bar */
  .navbar {
    overflow: hidden;
    background-color: rgb(25, 153, 203);
    font-family: "Sofia", sans-serif;
    height: 60px;
    font-size: large;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    /* background-color: #ddd; */
    width: 9%;
  }
  .navbar input {
    width: 270px;
    animation: mymoved 5s infinite;
    float: right;
  }
  @keyframes mymoved {
    50% {width: 370px;}
  }

  /* Right-aligned link */
  .navbar a.right {
    float: right;
    width: 10%;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    /* background-color: #ddd; */
    color: black;
  }
  
  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    width: 100%;
  }
  .row img {
    width: 100% center;
    height:100%;
    /* opacity: 0.3; Làm mờ */
  }
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    -ms-flex: 20%; /* IE10 */
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
  }
  
  /* Main column */
  .main {   
    -ms-flex: 80%; /* IE10 */
    flex: 80%;
    background-color: white;
    padding: 20px;
    font-family: 'Dancing Script', cursive;
  }
  .main h2 {
    padding-left: 30px;
    flex: 90%
  }
  .main a {
    padding-right: 10px;
    flex: 0%
  }
  .col-lg-3 {
    text-align: center;
  }

  /* Fake image, just for this example */
  .fakeimg1 {
    background-color: rgb(96, 146, 169);
    width: 100%;
    height: 200px;
  }
  .fakeimg {
    padding: 0px;
    width: 210px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid rgb(213, 15, 167);
    animation: mymovef 5s infinite;
  }
  @keyframes mymovef {
    100% {border-color: lightblue;}
  }
  .col-lg-3 h3 {
    margin: 10px;
  }
  .search {
    width: 34%;
    padding: 8px;
    margin: 1px;
  }
  .boxx {
    width: 25%;
  }
  .header img {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  }

  /* Modal */
  .modal-body {
    margin-top:15px;
    margin-left: 1%;
    margin-right: 1%;
  }
  .modal-body input {
    width: 200px;
    margin-top:15px;
    margin-left: 1%;
    margin-right: 1%;
    animation: mymove 5s infinite;
  }
  @keyframes mymove {
    50% {width: 370px;}
  }
  .modal-content {
    font-family: "Sofia", sans-serif;
  }
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border-radius: 1px solid #ddd;
    margin-right: 1px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}
